/*************************************************************************************
                             GENERAL    
*************************************************************************************/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  text-align: center;
  width: 100vw;
  overflow-x: hidden;
  font-family: "Work Sans", sans-serif;
  color: rgb(75, 75, 75);
}

/*************************************************************************************
                             NAV
*************************************************************************************/

nav {
  height: 7vh;
  background: white;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 20 !important;
  border-bottom: 1px solid rgb(107, 71, 23);
  opacity: 1;
}

nav img {
  display: none;
}

nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 80%;
  height: 100%;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 10%;
  margin-right: 120px;
}

nav .nav-links li .link {
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  width: 100vw;
}
nav .nav-links li .link:hover {
  color: rgb(107, 71, 23);
  text-decoration: underline;
}

@media screen and (max-width: 500px) {
  nav {
    position: fixed;
    background: white;
  }
  nav img {
    display: block;
    width: 30px;
    height: auto;
    position: absolute;
    left: 5%;
    top: 8%;
    -webkit-transform: translate(0, -5%, -8%, 0);
    transform: translate(0, -5%, -8%, 0);
    -o-object-fit: contain;
    object-fit: contain;
  }
  nav .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 30%;
    -webkit-transform: translate(-5%, -30%);
    transform: translate(-5%, -30%);
    z-index: 2;
  }
  nav .hamburger .line {
    width: 30px;
    height: 3px;
    background: black;
    margin: 5px;
  }

  nav .nav-links {
    position: fixed;
    background: white;
    border-bottom: 1px solid black;
    top: 7vh;
    height: 50vh;
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transform: translate(-800px);
            transform: translate(-800px);
    -webkit-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
  }
  nav .nav-links.open {
    -webkit-transform: translate(-50px);
            transform: translate(-50px);
    width: 100vw;
  }
}

/*************************************************************************************
                             MAIN IMAGE
*************************************************************************************/
#main-image-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 0 30px 0;
}
#main-image-section .title {
  text-align: left;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: left;
  -ms-flex-align: left;
  align-items: left;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 20px 0;
}
#main-image-section .title h4 {
  font-weight: 700;
  font-size: 2rem;
  z-index: 3;
}
#main-image-section .title h1 {
  font-size: 5rem;
  letter-spacing: 0.5px;
  font-weight: 900;
  z-index: 3;
}
#main-image-section .title h1 span {
  font-size: 4rem;
  font-weight: 700;
  z-index: 3;
}

#main-image-section .slider {
  position: relative;
  overflow: hidden;

  height: 600px;
  width: 100%;
}

#main-image-section .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-in-out;
  transition: opacity 0.6s ease-in-out;
  background: red;
}

#main-image-section .slide.current {
  opacity: 1;
}

/* add any content styling that is in the class 'slide', make sure you set opacity to 0 
then change it to 1 on class of current*/

/* -------BACKGROUND IMAGES-------*/

#main-image-section .slide:first-child {
  background: url("./assets/main.jpg") no-repeat center center/cover;
}

#main-image-section .slide:nth-child(2) {
  background: url("./assets/main-2.jpg") no-repeat center top/cover;
}

#main-image-section .slide:nth-child(3) {
  background: url("./assets/main-3.jpg") no-repeat center center/cover;
}

#main-image-section .slide:nth-child(4) {
  background: url("./assets/main-4.jpg") no-repeat center center/cover;
}

@media screen and (max-width: 1500px) {
  #main-image-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 0;
  }
}

@media screen and (max-width: 500px) {
  #main-image-section {
    max-width: 1200px;
    margin: 0 auto;
  }
  #main-image-section .title {
    padding: 20px 5px;
  }
  #main-image-section .title h4 {
    font-size: 1.1rem;
  }
  #main-image-section .title h1 {
    font-size: 2.2rem;
  }
  #main-image-section .title h1 span {
    font-size: 1.9rem;
  }

  #main-image-section .slider {
    height: 250px;
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  #main-image-section .slider {
    height: 200px;
    width: 100%;
  }
}

/*************************************************************************************
                             ABOUT
*************************************************************************************/
#about .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#about .container .info-box {
  text-align: left;
  text-transform: uppercase;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
#about .container .info-box h4 {
  font-weight: 700;
  font-size: 2rem;
  z-index: 3;
}
#about .container .info-box h1 {
  font-size: 5rem;
  letter-spacing: 0.5px;
  font-weight: 900;
  z-index: 3;
}
#about .container .info-box h1 span {
  font-size: 4rem;
  font-weight: 700;
  z-index: 3;
}
#about .container .info-box p {
  width: 70%;
  margin: 20px auto;
  font-weight: 500;
  font-size: 0.9rem;
  float: right;
  line-height: 30px;
}
#about .container .info-box .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#about .container .info-box .social .fab {
  font-size: 1.1rem;
  padding: 0 30px;
  cursor: pointer;
  color: rgb(107, 71, 23);
}
#about .container .info-box .social .fab:hover {
  color: black;
}
#about .container .image-box {
  background: url("./assets/about-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 80%;
  height: 500px;
  padding: 0 30px;
}

@media screen and (max-width: 950px) {
  #about .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  #about .container .image-box {
    height: 600px;
    width: 90%;
    margin: 20px auto;
  }
}

@media screen and (max-width: 500px) {
  #about .container .info-box h4 {
    font-size: 1.1rem;
  }
  #about .container .info-box h1 {
    font-size: 2.2rem;
  }
  #about .container .info-box h1 span {
    font-size: 1.9rem;
  }
  #about .container .info-box {
    padding: 10px 0;
  }
  #about .container .info-box p {
    width: 100%;
    padding: 0 10px;

    float: left;
    line-height: 25px;
  }
  #about .container .info-box .social {
    margin-bottom: 10px;
  }

  #about .container .image-box {
    width: 100%;
    height: 300px;
    margin: 20px 5px;
  }
}

/*************************************************************************************
                             GALLERY
*************************************************************************************/
#gallery {
  background: url("./assets/brick-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
#gallery .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 5px;
}
#gallery .container .title {
  text-align: left;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: left;
  -ms-flex-align: left;
  align-items: left;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 40px 0;
}
#gallery .container .title h4 {
  font-weight: 700;
  font-size: 2rem;
  z-index: 3;
}
#gallery .container .title h1 {
  font-size: 5rem;
  letter-spacing: 0.5px;
  font-weight: 900;
  z-index: 3;
}

#gallery .container .title h1 span {
  font-size: 4rem;
  font-weight: 700;
  z-index: 3;
}

#gallery .container .gallery-container {
  background: transparent;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  max-width: 1200px;
}
#gallery .container .gallery-container .box-1 {
  width: 100%;
  height: 400px;
  background: url("./assets/carousel-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}
#gallery .container .gallery-container .box-2 {
  width: 100%;
  height: 400px;
  background: url("./assets/carousel-2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}
#gallery .container .gallery-container .box-3 {
  width: 100%;
  height: 400px;
  background: url("./assets/carousel-3.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}
#gallery .container .gallery-container .box-4 {
  width: 100%;
  height: 400px;
  background: url("./assets/carousel-4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}
#gallery .container .gallery-container .box-5 {
  width: 100%;
  height: 400px;
  background: url("./assets/carousel-5.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}
#gallery .container .gallery-container .box-6 {
  width: 100%;
  height: 400px;
  background: url("./assets/carousel-6.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}

@media screen and (max-width: 900px) {
  #gallery .container .gallery-container {
    padding: 0 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 500px) {
  #gallery .container .gallery-container {
    padding: 0 5px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  #gallery .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  #gallery .container .title {
    padding: 20px 5px;
  }
  #gallery .container .title h4 {
    font-size: 1.1rem;
  }
  #gallery .container .title h1 {
    font-size: 2.2rem;
  }

  #gallery .container .title h1 span {
    font-size: 1.9rem;
  }
}

/*************************************************************************************
                             REVIEWS
*************************************************************************************/

#reviews .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}

#reviews .container .reviews-container {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}
#reviews .container .reviews-container .title {
  text-align: left;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: left;
  -ms-flex-align: left;
  align-items: left;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#reviews .container .reviews-container .title h4 {
  font-weight: 700;
  font-size: 2rem;
  z-index: 3;
}
#reviews .container .reviews-container .title h1 {
  font-size: 5rem;
  letter-spacing: 0.5px;
  font-weight: 900;
  z-index: 3;
}

#reviews .container .reviews-container .title h1 span {
  font-size: 4rem;
  font-weight: 700;
  z-index: 3;
}

#reviews .container .reviews-container .review-box {
  width: 400px;
  height: 350px;
  overflow: hidden;
  z-index: 4;
  position: relative;
}
#reviews .container .reviews-container .review-box .review {
  background: white;
  position: absolute;
  width: 400px;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0;
}

#reviews .container .reviews-container .review-box .review.active {
  opacity: 1;
  -webkit-transition: all 0.7s ease-in-out 0.3s;
  transition: all 0.7s ease-in-out 0.3s;
}

#reviews .container .reviews-container .review-box .review i {
  position: absolute;
  color: rgb(107, 71, 23);
  font-size: 2.4rem;
  top: 15%;
  left: -200px;
  opacity: 0;
}
#reviews .container .reviews-container .review-box .review.active i {
  opacity: 1;
  -webkit-transition: all 0.7s ease-in-out 0.3s;
  transition: all 0.7s ease-in-out 0.3s;
  -webkit-transform: translateX(380px);
  transform: translateX(380px);
}
#reviews .container .reviews-container .review-box .review .review-text {
  position: absolute;
  top: 28%;
  left: -400px;
  text-align: center;
  width: 80%;
  margin: 30px auto;
  font-size: 1rem;
  line-height: 20px;
  font-weight: 500;
  color: rgb(94, 94, 94);
  opacity: 0;
}
#reviews .container .reviews-container .review-box .review.active .review-text {
  opacity: 1;
  -webkit-transform: translateX(440px);
  transform: translateX(440px);
  -webkit-transition: all 0.7s ease-in-out 0.3s;
  transition: all 0.7s ease-in-out 0.3s;
}
#reviews .container .reviews-container .review-box .review .name {
  position: absolute;
  bottom: 15%;
  left: -400px;
  color: rgb(107, 71, 23);
  font-size: 1.2rem;
  font-weight: 600;
  opacity: 0;
}
#reviews .container .reviews-container .review-box .review.active .name {
  opacity: 1;
  -webkit-transform: translateX(535px);
  transform: translateX(535px);
  -webkit-transition: all 0.7s ease-in-out 0.3s;
  transition: all 0.7s ease-in-out 0.3s;
}

#reviews .container img {
  width: 100%;
  height: 500px;
  margin-top: 30px;
  -o-object-fit: none;
  object-fit: none;
  -o-object-position: center;
  object-position: center;
}

@media screen and (max-width: 500px) {
  #reviews .container {
    grid-template-columns: 1fr;
  }
  #reviews .container .reviews-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    -webkit-box-align: left;
    -ms-flex-align: left;
    align-items: left;
    text-align: left;
  }

  #reviews .container .reviews-container .title {
    width: 100%;
    text-align: left;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: left;
    -ms-flex-align: left;
    align-items: left;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
  }

  #reviews .container .reviews-container .title h4 {
    font-size: 1.1rem;
    text-align: left;
  }
  #reviews .container .reviews-container .title h1 {
    font-size: 2.2rem;
    text-align: left;
  }

  #reviews .container .reviews-container .title h1 span {
    font-size: 1.9rem;
    text-align: left;
  }

  #reviews .container .reviews-container .review-box .review.active i {
    opacity: 1;
    -webkit-transition: all 0.7s ease-in-out 0.3s;
    transition: all 0.7s ease-in-out 0.3s;
    -webkit-transform: translateX(370px);
    transform: translateX(370px);
  }
  #reviews
    .container
    .reviews-container
    .review-box
    .review.active
    .review-text {
    opacity: 1;
    -webkit-transform: translateX(425px);
    transform: translateX(425px);
    -webkit-transition: all 0.7s ease-in-out 0.3s;
    transition: all 0.7s ease-in-out 0.3s;
  }

  #reviews .container img {
    width: 100%;
    height: 500px;
    margin-top: 10px;
    -o-object-fit: contain;
    object-fit: contain;
  }
}

@media screen and (max-width: 350px) {
  #reviews .container .reviews-container .review-box .review.active i {
    opacity: 1;
    -webkit-transition: all 0.7s ease-in-out 0.3s;
    transition: all 0.7s ease-in-out 0.3s;
    -webkit-transform: translateX(340px);
    transform: translateX(340px);
  }
  #reviews
    .container
    .reviews-container
    .review-box
    .review.active
    .review-text {
    opacity: 1;
    -webkit-transform: translateX(410px);
    transform: translateX(410px);
    -webkit-transition: all 0.7s ease-in-out 0.3s;
    transition: all 0.7s ease-in-out 0.3s;
  }

  #reviews .container .reviews-container .review-box .review.active .name {
    opacity: 1;
    -webkit-transform: translateX(495px);
    transform: translateX(495px);
    -webkit-transition: all 0.7s ease-in-out 0.3s;
    transition: all 0.7s ease-in-out 0.3s;
  }
  #reviews .container .reviews-container .review-box .review .review-text {
    position: absolute;
    top: 28%;
    left: -400px;
    text-align: center;
    width: 70%;
    margin: 30px auto;
    font-size: 1rem;
    line-height: 20px;
    font-weight: 500;
    color: rgb(94, 94, 94);
    opacity: 0;
  }
}

/*************************************************************************************
                             PRICES
*************************************************************************************/

#prices .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 5px;
}
#prices .container .title {
  text-align: left;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: left;
  -ms-flex-align: left;
  align-items: left;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 20px 0;
  z-index: 4;
}
#prices .container .title h4 {
  font-weight: 700;
  font-size: 2rem;
  z-index: 3;
}
#prices .container .title h1 {
  font-size: 5rem;
  letter-spacing: 0.5px;
  font-weight: 900;
  z-index: 3;
}
#prices .container .title h1 span {
  font-size: 4rem;
  font-weight: 700;
  z-index: 3;
}
#prices .container .price-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#prices .container .price-box .image-container {
  float: left;
  width: 100%;
  height: 450px;
  display: inline-block;
  padding: 0 40px;
}
#prices .container .price-box .image-container img {
  float: left;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
#prices .container .price-box .price-list {
  width: 100%;
  height: 100%;
}
#prices .container .price-box .price-list .list {
  width: 70%;
  margin: 0 auto;
}
#prices .container .price-box .price-list .list p {
  color: rgb(75, 75, 75);
  font-size: 0.9rem;
  font-weight: 400;
  padding: 8px;
  text-align: left;
  width: 100%;
  float: left;
}
#prices .container .price-box .price-list .list p span {
  color: rgb(107, 71, 23);
  text-align: right;
  float: right;
}

@media screen and (max-width: 500px) {
  #prices .container .title {
    padding: 20px 5px;
  }
  #prices .container .title h4 {
    font-size: 1.1rem;
  }
  #prices .container .title h1 {
    font-size: 2.2rem;
  }
  #prices .container .title h1 span {
    font-size: 1.9rem;
  }
  #prices .container .price-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  #prices .container .price-box .image-container {
    float: left;
    width: 100%;
    height: 450px;
    display: inline-block;
    padding: 0 5px;
  }

  #prices .container .price-box .price-list .list {
    width: 100%;
    padding: 20px 5px;
  }
}

/*************************************************************************************
                             SPONSERS
*************************************************************************************/

#sponsers {
  background: url("./assets/brick-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  padding: 10px 0;
}
#sponsers .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 0;
}
#sponsers .container .sponsers-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#sponsers .container .sponsers-container .image {
  width: 250px;
  height: auto;
  padding: 0 10px;
  -o-object-fit: contain;
  object-fit: contain;
}

@media screen and (max-width: 500px) {
  #sponsers .container .sponsers-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  #sponsers .container .sponsers-container .image {
    padding: 10px;
  }
}

/*************************************************************************************
                            CONTACT
*************************************************************************************/
#contact {
  background: url("./assets/brick-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

#contact .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 5px;
}
#contact .container .title {
  text-align: left;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: left;
  -ms-flex-align: left;
  align-items: left;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 20px 0;
}
#contact .container .title h4 {
  font-weight: 700;
  font-size: 2rem;
  z-index: 3;
}
#contact .container .title h1 {
  font-size: 5rem;
  letter-spacing: 0.5px;
  font-weight: 900;
  z-index: 3;
}
#contact .container .title h1 span {
  font-size: 4rem;
  font-weight: 700;
  z-index: 3;
}
#contact .container .contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
#contact .container .contact-container .info-container {
  display: grid;
  grid-template-rows: 250px 250px;
}

#contact .container .c4ntact-container .info-container .map iframe {
  width: 100%;
  height: 90%;
}
#contact .container .contact-container .info-container .info-box {
  margin: 0 auto;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 95%;
}
#contact .container .contact-container .info-container .info-box .info {
  padding: 0 5px;
  margin-right: 20px;
}
#contact .container .contact-container .info-container .info-box .info p {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.9rem;
  line-height: 30px;
}

#contact
  .container
  .contact-container
  .info-container
  .info-box
  .contact-times {
  padding: 5px;
}

#contact
  .container
  .contact-container
  .info-container
  .info-box
  .contact-times
  p {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  padding: 2px 0;
}
#contact
  .container
  .contact-container
  .info-container
  .info-box
  .contact-times
  p
  span {
  margin-left: 15px;
  color: rgb(107, 71, 23);
  font-weight: 800;
  text-align: right;
  float: right;
}
#contact .container .contact-container .image {
  width: 95%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
}

@media screen and (max-width: 520px) {
  #contact .container .title h4 {
    font-size: 1.2rem;
  }
  #contact .container .title h1 {
    font-size: 2.4rem;
  }
  #contact .container .title h1 span {
    font-size: 2.1rem;
  }
  #contact .container .contact-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  #contact .container .contact-container .info-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
  }
  #contact .container .contact-container .info-container .info-box {
    margin: 10px auto;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  #contact .container .contact-container .info-container .info-box .info {
    float: center;
    margin: 0 auto;
    padding: 10px 0;
  }

  #contact
    .container
    .contact-container
    .info-container
    .info-box
    .contact-times
    .walk-in {
    float: center;
    text-align: center;
  }
  #contact .container .contact-container .image {
    display: none;
  }
}

/*************************************************************************************
                            FOOTER
*************************************************************************************/
footer {
  background: rgb(75, 75, 75);
}

footer .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 5px;
  display: inline-block;
  width: 100%;
}
footer .container h2 {
  display: inline-block;
  text-transform: uppercase;
  color: white;
  font-weight: 900;
  font-size: 1.8rem;
  letter-spacing: 1.5px;
  float: left;
}
footer .container .social {
  display: inline-block;
  float: right;
}
footer .container .social .fab {
  color: white;
  font-weight: 500;
  font-size: 1.3rem;
  padding: 0 30px;
}

@media screen and (max-width: 500px) {
  footer .container h2 {
    width: 50%;
    font-weight: 900;
    font-size: 1.1rem;
    letter-spacing: 1.5px;
    float: left;
  }
  footer .container .social {
    display: inline-block;
    float: right;
  }
  footer .container .social .fab {
    color: white;
    font-weight: 500;
    font-size: 1.3rem;
    padding: 0 10px;
  }
}
